<h1>Admin#new</h1>
<p>Find me in app/views/admin/new.html.erb</p>

<p>Aca va formulario para agregar: </p>
<ul>
  <li>artistas del evento</li>
  <li>nombre del evento</li>
  <li>descripcion evento</li>
  <li>link para comprar entradas</li>
</ul>


<%#= form_for @event, url: {action: "create"} do |f| %>


<%= form_for @event, :url => url_for(:controller => 'events', :action => 'create') do |f| %>

  <%= f.label 'nombre evento' %>
  <%= f.text_field :name %>
  <%= f.label 'ticket link' %>
  <%= f.text_field :ticket_link %>
  <%= f.label 'admin id' %>
  <%= f.text_field :admin_id %>
  <%= f.submit %>
<% end %>