<div	class="center">
		<%=	link_to	image_tag("logo_fondo_transparente.png",	alt: "Festify logo"), root_path	%>
		<h1>¡Encuentra los mejores conciertos en el país!</h1>
		<br>
		<div class = "center">



    <% if logged_in? %>
      <%#= link_to current_user.name, home_index_path %>
      <%= link_to 'Log Out', logout_path, class:  "btn btn-lg btn-warning strokeme"  %>
    <% else %>
      <%= link_to "¡Loggea con Spotify!", login_path, class:  "btn btn-lg btn-warning strokeme"  %>
      <%= link_to "¡Promociona un evento!", home_index_path,  class:  "btn btn-lg btn-success strokeme" %>
    <% end %>
		</div>
</div>

<!--
<%=	link_to	image_tag("rails.png",	alt: "Rails logo"), 'http://rubyonrails.org/'	%>
-->