<!DOCTYPE	html>
<html>
		<head>
				<title>Festify</title>
				<%=	stylesheet_link_tag	'application',	media:	'all', 'data-turbolinks-track'	=>	true	%>
				<%=	javascript_include_tag	'application',	'data-turbolinks-track'	=>	true	%>
				<%=	csrf_meta_tags	%>
				<%= render 'layouts/shim' %>
				<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="http://bootswatch.com/cyborg/bootstrap.min.css"> 
			  
		</head>
		<body>
		<div class="container">
				<p class="notice"><%= notice %></p>
				<p class="alert"><%= alert %></p>
				<%= render 'layouts/header' %>
				<div	class="container">
						<%=	yield	%>
						<%= render 'layouts/footer' %>
				</div>
		</div>
		</body>
</html>