<!DOCTYPE	html>
<html>
<<<<<<< HEAD
		<head>
				<title>Festify</title>
				<%=	stylesheet_link_tag	'application',	media:	'all', 'data-turbolinks-track'	=>	true	%>
				<%=	javascript_include_tag	'application',	'data-turbolinks-track'	=>	true	%>
				<%=	csrf_meta_tags	%>
				<%= render 'layouts/shim' %>
		</head>
		<body>
				<%= render 'layouts/header' %>
				<div	class="container">
						<%=	yield	%>
						<%= render 'layouts/footer' %>
				</div>
		</body>
</html>
=======
<head>
  <title>Festify</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
>>>>>>> 12fc1adcbfeee763d1ec9b7d9554dde487c2a9bd
